.textarea-autosize {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  outline: none;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  width: 100%;
}

.textarea-autosize:focus {
  border-color: #fb8122;
}
