.contact-form-container {
  width: 100%;
  background-color: #ffffff;
  padding: 4rem 2rem;
  /* border-radius: 8px; */
}

.page-title {
  font-size: 24px;
  margin-bottom: 16px;
  color: #333333;
}

.form-title {
  font-size: 20px;
  margin-bottom: 24px;
  color: #555555;
}

textarea.textarea-autosize {
  width: 100%;
  padding: 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-button {
  background-color: #fb8122;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #ca6314;
}

.p__error {
  margin-top: 8px;
}
